* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial , sans-serif;
  background-color: #f6f7fb;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
}